@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);.tabs__panel___2wZ-x {

    margin: 0;
    background-color: rgb(37, 37, 37);
    height: 85vh;
    font: 24px Roboto, sans-serif;
    margin-top: 7vh;
    margin-bottom: 8vh;
    overflow: scroll;
    color: #dfdfdf;

}

.tabs__panel___2wZ-x::-webkit-scrollbar {
    display: none;
}

.tabs__content___3VM1p {
    width: 100%;
    height: 100%;  

}

.tabs__cardstack___28PDM::-webkit-scrollbar {
    display: none;
  }

.tabs__card___1Nj4j {
    background-color: #F44336;
    width: 100%;
    height: 15vh;
    margin:  auto;
    margin-top: 20px;
    border-radius: 1%;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

.tabs__active___3yAWN {
    height: 99%;
  
    
  }

.tabs__card___1Nj4j:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
  }.exercise__exercise___1kU10 {
  width: 100%;
  height: 100%;
  /* background: #2B2B2B; */
  font-family:  Roboto, sans-serif;
  color:black;

}



.exercise__exercise___1kU10::before {

  
  }



.exercise__exercise_header___11Xtb {


    /* background: #E1F00D;  */
    /* opacity:0.7;  */
    /* background: no-repeat center/150% url(https://cdn-mf0.heartyhosting.com/sites/mensfitness.com/files/styles/wide_videos/public/_main_girlgym.jpg); */ */
    width: 100%;
    height: 25%; 


}



/* hack to eliminate top offset! */



/* .exercise_header::before {
    content: '*';
    visibility: hidden;
} */



.exercise__exercise_content___13uTh {
  background: #AA1D1D;
  width: 100%;
  height: 75%;
 color: #dadada;
  font-family:  roboto, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
}



.exercise__exercise_title___3veph {
  font-weight: 300;
  margin:0;
  padding: 20px;


}



.exercise__exercise_gif___1DvDr {
  width: 100%;

}



.exercise__exercise_content___13uTh p {
    font-weight: 300;
    margin: 0;
    margin-top: 10px;

}



.exercise__chip___1g6Z- {
  background: #bbb;
  color: #222;
  border-radius: 32px;
  padding: 2px;
  margin: 5px
  
}.cardStack__cardstack___3iRqa {
    
        margin: 0;
        background-color: rgb(65, 17, 97);
        height: 100%;
        width:100%;
        font: 24px Roboto, sans-serif;
        overflow: scroll;
        color: #dfdfdf;
}

.cardStack__cardstack___3iRqa::-webkit-scrollbar {
    display: none;
}

.cardStack__card___3VAnb {
    background-color: #FF7043;
    width: 95%;
    height: 15vh;
    margin:  auto;
    margin-top: 20px;
    border-radius: 2px;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
            box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
    -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cardStack__active___13juO {
    height: 99%;
  
}

.cardStack__card___3VAnb:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
}
/*# sourceMappingURL=styles.css.map*/